$class-prefix: "tabs";

//.rayr-tab {}

.#{$class-prefix}{
    &-bar{
        margin-bottom: 16px;
    }

    &-nav{
        font-size: 14px;
        &:after,
        &:before{
            display: table;
            content: ' ';
        }
        &:after{
            clear: both;
        }
    }

    &-nav > &-tab{
        float: left;
        list-style-type: none;
        margin-right: 24px;
        padding: 8px 20px;
        text-decoration: none;
        color: #666;
        cursor: pointer;

        &:hover{
            color: #00C49F;
        }
    }

    &-nav > &-active{
        border-bottom: 2px solid #00C49F;
        color: #00C49F;
        cursor: default;
    }

    &-content &-panel{
        display: none;
    }

    &-content &-active{
        display: block;
    }
}
