$class-prefix: "tabs";

.ui-tabs{
    width: 100%;
}

.#{$class-prefix}{
    &-bar{
        text-align: center;        
        font-size: 0;
    }

    &-nav{
        font-size: 14px;
        margin: 0;
        padding: 0;
        display: flex;
    }

    &-nav > &-tab{
        float: left;
        list-style-type: none;
        padding: 8px 20px;
        text-decoration: none;
        color: #666;
        flex: 1;
        cursor: pointer;
        &:hover{
            color: #5797FB;
        }
    }

    &-nav > &-active{
        border-bottom: 2px solid #5797FB;
        color: #ffffff;
        background-color: #5797FB;
        cursor: default;
        &:hover{
            color: #ffffff;
        }
    }

    &-content{
    }

    &-content &-panel{
        display: none;
    }

    &-content &-active{
        display: block;
    }
}
